@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
* {
  margin: 0;
  padding: 0; }

a {
  color: #188fa7; }

ul {
  list-style-type: none;
  padding-left: 20px; }
  ul li:before {
    color: #188fa7;
    content: '›';
    margin-right: 5px; }

td {
  padding-right: 5px; }

body {
  margin: 0 auto;
  max-width: 960px;
  padding: 50px;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 14px; }
  body .me {
    text-align: center; }
    body .me .me--name {
      color: #188fa7;
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      font-weight: 600;
      margin: 0;
      text-transform: uppercase;
      transform: scale(1, 1.25);
      -webkit-transform: scale(1, 1.25);
      -moz-transform: scale(1, 1.25);
      -ms-transform: scale(1, 1.25);
      -o-transform: scale(1, 1.25); }
      body .me .me--name .me--lastname {
        margin-left: 5px;
        font-weight: 400; }
    body .me .me--jobTitle {
      font-size: 1.3em;
      font-weight: 500;
      text-transform: uppercase; }
    body .me .me--contact span {
      display: inline-block;
      padding: 20px 10px 0; }
    body .me .me--contact svg {
      color: #188fa7;
      margin-right: 5px; }
  body .section .section--title {
    border-bottom: 1px solid #e8e8e8;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin: 30px 0 15px;
    text-transform: uppercase;
    transform: scale(1, 1.25);
    -webkit-transform: scale(1, 1.25);
    -moz-transform: scale(1, 1.25);
    -ms-transform: scale(1, 1.25);
    -o-transform: scale(1, 1.25); }
  body .section .title-1 {
    color: #188fa7;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5; }
  body .section .title-2 {
    color: #777;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px; }
    body .section .title-2.job--company {
      margin-left: 3px; }
      body .section .title-2.job--company:before {
        content: '@';
        font-size: 0.75em;
        margin-right: 3px; }
  body .section .text-light {
    color: #777;
    font-style: italic;
    margin-right: 8px; }
  body .section .date {
    color: #777;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    margin-left: 5px; }
    body .section .date .dateStart:before {
      content: '('; }
    body .section .date .dateStart:after {
      margin-left: 3px;
      content: '-'; }
    body .section .date .dateEnd {
      margin-left: 3px; }
      body .section .date .dateEnd:after {
        content: ')'; }
  body .section .job--link {
    display: inline-block;
    float: right; }
  body .section .job--project,
  body .section .project--description {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8; }
    body .section .job--project a,
    body .section .project--description a {
      font-size: 0.8em; }
  body .section .training {
    margin-bottom: 10px; }
