@import "https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@mixin transform-scale($sx, $sy) {
  transform: scale($sx, $sy);
  -webkit-transform: scale($sx, $sy);
  -moz-transform: scale($sx, $sy);
  -ms-transform: scale($sx, $sy);
  -o-transform: scale($sx ,$sy);
}
@mixin border-radius($r) {
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -ms-border-radius: $r;
  -o-border-radius: $r;
}
@mixin transition($t) {
  transition: $t;
  -webkit-transition: $t;
  -moz-transition: $t;
  -ms-transition: $t;
  -o-transition: $t;
}
$primary: #188fa7;
$black: #555;
$grey: #777;
$lightgrey: #e8e8e8;

* {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
}

ul {
  list-style-type: none;
  padding-left: 20px;

  li {
    &:before {
      color: $primary;
      content: '›';
      margin-right: 5px;
    }
  }
}

body {
  margin: 0 auto;
  max-width: 960px;
  padding: 50px;
  color: $black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  .me {
    text-align: center;

    .me--name {
      color: $primary;
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      font-weight: 600;
      margin: 0;
      text-transform: uppercase;
      @include transform-scale(1, 1.25);

      .me--lastname {
        margin-left: 5px;
        font-weight: 400;
      }
    }

    .me--jobTitle {
      font-size: 1.3em;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .section {
    .section--title {
      border-bottom: 1px solid $lightgrey;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2em;
      font-weight: 600;
      margin: 50px 0 15px;
      text-transform: uppercase;
      @include transform-scale(1, 1.25);
    }

    .title-1 {
      color: $primary;
      font-family: 'Montserrat',sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }

    .title-2 {
      color: $grey;
      font-family: 'Montserrat',sans-serif;
      font-size: 14px;

      &.job--company {
        margin-left: 3px;

        &:before {
          content: '@';
          font-size: 0.75em;
          margin-right: 3px;
        }
      }
    }

    .text-light {
      color: $grey;
      font-style: italic;
    }

    .date {
      color: $grey;
      font-family: 'Montserrat',sans-serif;
      font-size: 13px;
      margin-left: 5px;

      .dateStart {
        &:before {
          content: '(';
        }

        &:after {
          margin-left: 3px;
          content: '-';
        }
      }

      .dateEnd {
        margin-left: 3px;

        &:after {
          content: ')';
        }
      }
    }

    .job {
      .job--link {
        display: inline-block;
        float: right;
      }

      .job--project {
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $lightgrey;

        a {
          font-size: 0.8em;
        }
      }
    }

    .training {
      margin-bottom: 10px;
    }
  }
}
